site_name: Candlekeep summaries
docs_dir: docs
site_author: lukas.rynt

site_url: https://lukasrynt.github.io/DnD-Candlekeep-Summaries/

repo_url: https://github.com/lukasrynt/DnD-Candlekeep-Summaries
edit_uri: edit/main/docs/

theme:
  name: material
  language: cs
  include_search_page: true
  features:
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - search.highlight
    - search.share
    - search.suggest
  font:
    text: Inter
    code: Source Code Pro
  icon:
    tag:
      npc:      fontawesome/solid/user
      location: fontawesome/solid/map-marker-alt
      artifact: fontawesome/solid/ring
      book:     fontawesome/solid/book
      race:     fontawesome/solid/paw
  palette:
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
plugins:
  - search
  - tags
  - callouts
  - obsidian-graph
  - obsidian-support
  - obsidian-bridge

extra:
  tags:
    postava: npc
    lokace: location
    artefakt: artifact
    kniha: book
    rasa: race

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - md_in_html
  - def_list
  - sane_lists
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - https://fastly.jsdelivr.net/npm/jquery/dist/jquery.min.js
  - https://fastly.jsdelivr.net/npm/echarts/dist/echarts.min.js
  - assets/javascripts/interactive_graph.js

extra_css:
  - assets/stylesheets/interactive_graph.css
