name: Deploy to GitHub Pages
on:
  push:
    branches: [ main ]
permissions:
  id-token: write
  pages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocs-obsidian-links \
            mkdocs-callouts pymdown-extensions \
            mkdocs-obsidian-interactive-graph-plugin \
            mkdocs-obsidian-support-plugin \
            mkdocs-obsidian-bridge \
            mkdocs-glightbox
      - name: Build site
        run: mkdocs build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
